<h1>Your Shopping Cart</h1>

{% if cart_items %}
    <ul>
        {% for item in cart_items %}
            <li>
                <bold>{{ item.products.name }}</strong><br>
                Quantity: {{ item.quantity }}<br>
                Price: ₹{{ item.product.price }}<br>
                <p>Subtotal: ₹{{ item.subtotal|floatformat:2 }}</p>
            </li>
            <hr>
        {% endfor %}
    </ul>
    <h2>Total: ₹{{ total|floatformat:2 }}</h2>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}

<a href="{% url 'home' %}">Continue Shopping</a>
